<hr>

<h2>
  <button (click)="left()"><</button>
  {{customer.name}}
  <button (click)="right()">></button>
</h2>

<fieldset>
  <label>
    Name:
    <input [(ngModel)]="customer.name" placeholder="Customer name">
  </label>
</fieldset>

<br>
<label><input type="checkbox"/>Show address</label>


<h3>Address:</h3>
<fieldset>
  <label>
    Street:
    <input [(ngModel)]="customer.address.street" placeholder="Street">
  </label>
</fieldset>
<fieldset>
  <label>
    City:
    <input [(ngModel)]="customer.address.city" placeholder="City">
  </label>
</fieldset>
<fieldset>
  <label>
    State:
    <select [(ngModel)]="customer.address.state">
      <option>state</option>
    </select>
  </label>
</fieldset>
<fieldset>
  <label>
    Region:
    <select [(ngModel)]="customer.address.region">
      <option>region</option>
    </select>
  </label>
</fieldset>